@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: #273141;
  padding: 0 10px;
}

.header__logo > h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #fdfcff;
}

.header__iconContainer {
  display: flex;
}

.header__icons {
  width: 30px;
  height: 30px;
}
.header__icons:nth-child(1) {
  padding-right: 10px;
}

@media (max-width: 768px) {
  .header__icons {
    width: 20px;
    height: 20px;
  }
}
